@page "/"

<PageTitle>Index</PageTitle>

<SliderImageComparisonComponent BeforeURl="./img/image-1.png" AfterUrl="./img/image-2.png"></SliderImageComparisonComponent>
<p>aasssssaa</p>
<SliderImageComparisonComponent BeforeURl="./img/image-2.png" AfterUrl="./img/image-1.png"></SliderImageComparisonComponent>
